@inherits LayoutComponentBase

<div class="container-fluid">
    <NavMenu />    
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <div class="alert alert-danger" role="alert">
    An unhandled error has occurred. Reload page to continue.    
    </div>
</div>
