@inherits LayoutComponentBase

<div class="container-fluid">
    <NavMenu />    
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <div class="alert alert-danger" role="alert">
        An error has occurred. This application may no longer respond until reloaded.
    </div>
</div>
