@implements IDisposable

@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager

<AuthorizeView>
<header>
    <nav class="nav justify-content-center">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Bookmark</NavLink>
        <NavLink class="nav-link" href="add" Match="NavLinkMatch.All">Add bookmark</NavLink>
                
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.Prefix">@context.User.Identity?.Name</NavLink>
        <NavLink class="nav-link" href="Account/Logout" Match="NavLinkMatch.Prefix">Log out</NavLink>
    </nav>
</header>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

